*{
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #9ACCCB;
}

main{
    height: 600px;
    margin: 0 auto;
}

header{
    width: 980px;
    margin: 0 auto;
}

#menu{
    margin: 20px auto;
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 295px;
}
.nav-home{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-home li{
    margin-right: 65px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.nav-home li a{
    text-decoration: none;
    color: #fff;
    transition: 200ms;
}

.nav-home li a:hover{
    color: #e5e0f2;
    transition: 200ms;
}

.nav-home li:nth-child(4){
    text-align: center;
}

#info-game{
    background-color: #fff;
    width: 100%;
    padding-top: 5px;
}

#info-game h2{
    font-size: 38px;
    color: #1d1d1d;
    margin-bottom: 18px;
}

#info-game p{
    display: block;
    width: 450px;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.container-info{
    display: grid;
    grid-template-columns: 450px 1fr 450px;
    margin: 100px auto 0 auto; 
    gap: 30px;
    width: 980px;
}

.vl{
    border-left: 3px solid black;
    height: 600px;
    align-self: center;
    margin-top: 20px;
}

#info-game td{
    padding-bottom: 20px;
    width: 300px;
}

#info-game td ul{
    list-style: none;
}


/* PERSONAGENS*/


#content-p{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container {
    width: 980px;
    margin: 0 auto;
}

.text-container h2{
    font-weight: bold;
    font-size: 48px;
    letter-spacing: 0.2cm;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.text-container p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
}

#personagens{
    background-image: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    margin: 50px 0 auto;
}

.container-p{
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 560px 560px 560px;
    margin: 0 80px; 
}

.player-card{
    display: inline-block;
    width: 300px;
    background-color: #2bb8b8;
    align-self: center;
    justify-self: center;
    margin-bottom: 200px;
    border-radius: 5px;
	transition-duration: 200ms;
}

.player-card img{
    width: 100%;
}

.player-info{
    width: 300px;
    border: none;
    color: #fff;
    margin: 0 auto;
}

.player-info h3{
    font-size: 18px;
    font-weight: 300;
    margin-left: 1%;
}

/*REGRAS*/

#regras{
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-regras{
    width: 980px;
    margin: 0 auto;
}

.container-regras h2{
    font-size: 38px;
    color: #1d1d1d;
    margin-bottom: 18px;
}

.container-regras ul{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    
    list-style-type: square;
}

.container-regras ul li ul{
    margin-left: 20px;
}

/*FICHA TÉCNICA*/

#ficha{
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#ficha img{
    width: 50%;
}

/*CONTATO*/

#contato{
    width: 100%;
    background-color: #fff;
    padding: 30px 0;
}

.contato-grid{
    width: 980px;
    display: grid;
    grid-template-columns: 450px 450px;
    gap: 20px;
    margin: 0 auto;
}

.contato-info h2{
    font-size: 38px;
    color: #1d1d1d;
    margin-bottom: 18px;
}

.contato-info p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;   
}

.contato-info h3{
    font-size: 24px;
    color: #1d1d1d;
    margin-bottom: 5px;
}

.contato-form{
    margin: 0 auto;
}

.contato-form label{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;   
}

.contato-form form input{
    display: block;
    width: 300px;
    padding: 10px;
    height: 35px;
    background-color: #dcdcdc;
    outline: none;
}

.contato-form form textarea{
    resize: none;
    display: block;
    background-color: #dcdcdc;
    width: 300px;
    height: 200px;

    padding: 10px;
}

.contato-form button{
    margin-top: 10px;
    padding: 4px;
    border-radius: 0;

    background-color: #77aa99;
    color: #fff;
    font-size: 24px;
}